<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common :: head"></head>

<body>

    <div th:replace="common :: nav"></div>
    <div class="lot position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <table th:each="lot : ${lots}" class="table table-bordered">
            <thead>
            <tr>
                <td colspan="6">Drive ----></td>
            </tr>
            <tr th:each="row : ${lot.parkingLotRows}">
                <th th:each="space : ${row.parkingSpaces}" scope="col" th:class="${space.status.name() == 'VACANT'} ? bg-success : bg-danger"
                ><b th:text="${space.name}"></b></th>
            </tr>
            <tr>
                <td colspan="6"><---- Drive</td>
            </tr>
            </thead>
        </table>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>